<div class="aubg">
  <div class="col-sm-4"></div>
  {{!-- parent div --}}
  <div class="col-sm-4 myConCol">

    <div class="card w-100">



      {{!-- first card --}}
      <div class="card-body">
        <h2 class="text-center">SunShine Elevator</h2>
      
          <br>

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> {{!-- second card --}}
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title white">About Us</h3>
        <h4>
          Sunshine Elevator is a locally based South Florida Elevator company that values customer service and pristine work relationships.
          We elevate our family oriented company by treating our customers like family. Our hard work and dedication exceeds the 
          needs and expectations of our clients. We stay competitive in pricing in the elevator industry with more effeciently trained
           personnel, resulting in quick servicing and quality work. 
        </h4>
        <br>
        <br>
        <br>
       
      </div>
    </div>