<form action="/login" method="post">

    <label>Company</label>
    <input type="text" name="company">

    <label>Address:</label>
    <input type="string" name="address">

    <label>Number of Elevators</label>
    <input type="number" name="elevators">

    <label>Number of Floors</label>
    <input type="number" name="floors">

    <fieldset>
    <legend>Check for Services needed</legend>
     <div>
        <input type="checkbox" id="FullReno" name="service"
               value="fullRenovation" />
        <label for="fullRenovation">Full Renovation</label>
    </div>

    <div>
        <input type="checkbox" id="cabReno" name="service"
               value="Cab Renovation" />
        <label for="">Cab Renovation</label>
    </div>

    <div>
        <input type="checkbox" id="circutReno" name="service"
               value="CircutBoardRenovation" />
        <label for="circutReno">Circut Board Renovation</label>
    </div>

    <div>
        <input type="checkbox" id="newElevator" name="service"
               value="newElevator" />
        <label for="newElevator">Elevator Installation</label>
    </div>

    <div>
        <input type="checkbox" id="buttons" name="service"
               value="button" />
        <label for="claws">Hydro</label>
    </div>

    <div>
        <input type="checkbox" id="buttons" name="service"
               value="button" />
        <label for="claws">Traction</label>
    </div>

</fieldset>
   


</form>