<form action="/clientInfo" method="post">

    <label>Company</label>
    <input type="text" name="company">

    <label>Address:</label>
    <input type="string" name="address">

    <label>Number of Elevators</label>
    <input type="number" name="elevators">

    <label>Number of Floors</label>
    <input type="number" name="floors">

    <button type="submit">Submit</button>

    <fieldset>
    <legend>Check for Services needed</legend>
     <div>
        <input type="checkbox" id="FullReno" name="service" 
               value="modernization" />
        <label for="">Modernization</label>
    </div>

    <div>
        <input type="checkbox" id="cabReno" name="service"
               value="cabRenovation" />
        <label for="">Cab Renovation</label>
    </div>

    <div>
        <input type="checkbox" id="circutReno" name="service"
               value="circutBoardRenovation" />
        <label for="">Repairs</label>
    </div>

    <div>
        <input type="checkbox" id="newElevator" name="service"
               value="newElevator" />
        <label for="">Elevator Installation</label>
    </div>

    <div>
        <input type="checkbox" id="buttons" name="service"
               value="hydrolic" />
        <label for="">Hydrolic</label>
    </div>

    <div>
        <input type="checkbox" id="buttons" name="service"
               value="traction" />
        <label for="">Traction</label>
    </div>

</fieldset>
   

{{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}}
</form>