<div class="nothere">

<div class="col-sm-12">
    <form action="/clientInfo" method="post">
        <div class="form-group col-sm-4">

            <label>Company: </label>
            <input class="form-control" type="text" name="company">

            <label>Email: </label>
            <input class="form-control" type="string" name="email">

            <label>Address:</label>
            <input class="form-control" type="string" name="address">
            <label>Phone Number:</label>
            <input class="form-control" type="number" name="phoneNumber">
        </div>
        <div class="col-sm-4">

            <label>Number of Elevators:</label>
            <input class="form-control" type="number" name="elevators">

            <label>Number of Floors:</label>
            <input class="form-control" type="number" name="floors">
        </div>
        

<div class="col-sm-4 ">



    <fieldset>
        <legend>Check Services needed</legend>
        <div>
            <input type="checkbox" id="modernization" name="service" value="modernization" />
            <label for="">Elevator Modernization: </label>
        </div>

        <div>
            <input type="checkbox" id="repairs" name="service" value="repairs" />
            <label for="">Elevator Repair</label>
        </div>

        <div>
            <input type="checkbox" id="newElevator" name="service" value="elevator-service" />
            <label for="">Elevator Service</label>
        </div>
    </fieldset>
    

    <div class="form-check ">
  <input class="form-check-input" type="radio" name="service" id="exampleRadios1" value="hydrolic" checked>
  <label class="form-check-label" for="exampleRadios1">--Hydrolic
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="service" id="exampleRadios2" value="traction">
  <label class="form-check-label" for="exampleRadios2">
    --Traction
  </label>

</div>
  <br>
    
    <button class ="btn-lg"type="submit">Submit</button>
    
</div>
</div>


{{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}}
</form>

</div>

</div>