<div class="aubg">


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Call Us</h5>
    <p class="card-text">(555)555-5555</p>
<a href="/clientInfo" class="btn btn-primary">Quote in 24hrs</a>
  </div>
</div>

</div>