<div class="aubg">
  <div class="col-sm-4"></div>
  {{!-- parent div --}}
  <div class="col-sm-4 myConCol">

    <div class="card w-100">



      {{!-- first card --}}
      <div class="card-body">
        <h2 class="oj">SunShine Elevator</h2>
        <h3 class="card-title">Contact us information:</h3>

        <h3 class="card-text"> Phone number: (555) 555-5555</p>
          <br>

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br> {{!-- second card --}}
    <div class="card w-100">
      <div class="card-body">
        <h3 class="card-title">Email Us:</h3>
        <textarea class="form-control" rows="15"></textarea>
        <br>
        <br>
        <br>
        <button class="btn btn-primary">Send Email</button>
      </div>
    </div>



  </div>


  <div class="col-sm-4"></div>




</div>