
<div class="img-responsive container-fluid col-lg-12 bgsun header">
    
    <h1> Sunshine Elevator </h1>
    <aside class="quote">"We strive for excellence"</aside>

  

</div>




{{!-- section2 --}}

<div class="img-responsive container-fluid col-lg-12 sec2bg insection ">
    <h1>About us</h1>
    <form class ="damn-btn">
    <button type="button" class="btn btn-outline-light">Light</button>
    </form>


</div>

        
   






{{!-- Third Section --}}


{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}