
<div class="img-responsive container-fluid col-lg-12 bgsun header">
    
    <h1> Sunshine Elevator </h1>
    <aside class="quote">"We strive for excellence"</aside>

  

</div>

{{!-- second section --}}

<div class="section2bgblk container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="t-font"> About Us</h1>
        </div>
        <div class="col-lg-6 img-responsive  bgsection2">

        </div>
    </div>
</div>

        
   






{{!-- Third Section --}}


{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}