<div class="img-responsive container-fluid col-lg-12 bgsun header">

    <h1> Sunshine Elevator </h1>
    <aside class="quote">"We strive for excellence"</aside>



</div>




{{!-- section2 --}}

<div class="img-responsive container-fluid col-lg-12 sec2bg">
    <div class="insection">
        <h1>Who are we?</h1>
    </div>

    <form class="damn-btn">
        <form>
            <input class="btn btn-lg btn-outline-dark animate-flicker" type="button" value="About Us" onclick="window.location.href='/aboutUs'"/>
        </form>
    </form>


</div>









{{!-- Third Section --}} {{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}