<div class="img-responsive container-fluid col-lg-12 bgsun header">

    <h1> Sunshine Elevator </h1>
    <aside class="quote">"We strive for excellence"</aside>



</div>




{{!-- section2 --}}
<div class="img-responsive container-fluid col-lg-12 sec3bg">
    <div class="insection">
        <h1>Contact Us</h1>
    </div>

    <form class="index-btn">
       
            <input class="btn-lg btn btn-outline-light" type="button" value="Contact Us" onclick="window.location.href='/aboutUs'"/>
        
    </form>


</div>




{{!-- Third Section --}} 

<div class="img-responsive container-fluid col-lg-12 sec2bg section2btn">
    <div class="insection">
        <h1>Who are we?</h1>
    </div>

    <form class="damn-btn2">
        <form>
            <input class="btn btn-lg btn-outline-light" type="button" value="About Us" onclick="window.location.href='/aboutUs'"/>
        </form>
    </form>


</div>











{{!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}