
<div class="img-responsive container-fluid col-lg-12">
    <img src="/images/Title.jpg" alt="Sunshine Elevator head image" style="width:100%;">
    <h1 class="centered"> Sunshine Elevator </h1>

  

</div>


{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}