<form action="/signup" method="post">

    <label for="username">Desired Username: </label>
    <input id="username" type="text" name="theUsername">

    <label for="password">Desired Password: </label>
    <input id="password"  type="password" name="thePassword">



    <button>Submit</button>



</form>

{{#if errorMessage}}
<div>{{errorMessage}}</div>
{{/if}}