
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans:300');

@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Raleway|Roboto+Slab');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Raleway', sans-serif;  */

* {
    margin: 0px ;
    padding:0px, 0px;
    }
body{
    background:url('/images/francisco-gomes-182329-unsplash.jpg');
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


#section1{
    
    background-image: url("/images/Title.jpg");
    
}

  
  a.orghover{
    background-color: #D3602E;
  }
  /* h1 , h2 , h3 , h4 , h5{
      font-family: Raleway;
    } */
  
  h1 {
      font-size: 7em;
      text-align: center;
      text-transform: uppercase;
      color: #D3602E;
    }
  
    /* NAVIGATION BAR / HEADER */
    .nav-bar {
    background-color: black;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    height: 40px;
    }
  
    .nav-bar-ul {
      width: 1200px;
      margin: 0 auto;
  
    }
  
    .nav-bar-li {
    list-style-type: none;
    text-align: center;
    float: left;
    width: 33%;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'Roboto Slab', serif;
  
    }
  
    .nav-bar-item a{
      color: #D3602E;
      font-size: 3em;
      text-decoration: none;
    }
  
  /* HEADER */
  
  .header h1{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    top: 35%;
    margin:0 ;
    text-align: center;
    width: 100%;
    font-size: 6.9vw;
  }


  /* section font alignment for index page  */
  .insection h1{
    color: white;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    top: 10%;
    margin:0 ;
    text-align: left;
    width: 100%;
    font-size: 5.2vw;
  }
  .quote2 {
    font-size: 2.4vw;
    position: absolute;
    left: 14%;
    bottom: 20vh; /*was 25 */
    font-family: 'Open Sans', sans-serif;;
    color:#D3602E;
}
.damn-btn{
    display:flex;
    position: relative;
    top: 45vh;
    justify-content: center;
}







  /* section one of the index page  */

  
  .bgsun {
      background-image:url("/images/Title.jpg");
      background-size: 100% 100%;
      height: 100vh;
      width: 100vw;
      min-height: 200px;
      max-height: 900px;
    }
    .quote {
        font-size: 2.4vw;
        position: absolute;
        left: 14%;
        bottom: 41vh; /*was 25 */
        font-family: 'Open Sans', sans-serif;;
        color:#D3602E;
    }
    /* -=-=-=-=--=-=section 2 of index page=-=-=-=-=-=-=-=- */
    .sec2bg{
        background-image: url("/images/section2.jpg");
        background-size: 100% 100%;
        height: 100vh;
        min-height: 200px;
        max-height: 400px;
    /* width: 50vw; */

    }

    .bgsection2{
    background-color: black;
    background-image:url("/public/images/elevred.jpg//");
    background-size: 100% 100%;
    height: 100vh;
    max-height: 400px;
    /* width: 50vw; */
    }
  
    .section2bgblk{
        background-color: black;
        flex-direction: row
    }
/* section 3 in index page */

  /* Bootstrap Changes */
  .navbar{
      position: relative;
      min-height: 50px;
      margin-bottom: 0px;
      border: 1px solid transparent;
  }

  .sunshine:hover {
    color: #D3602E;
    background-color: transparent;
}
.sunshine{
    color: #777;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

/* index page sections title font */
.t-font{
    font-family: 'Work Sans', sans-serif;
    font-size: 4.9vw;
    color: #D3602E
    
}

.p-font{
    font-size: 2.4vw;
}
