@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Raleway|Roboto+Slab');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Raleway', sans-serif;  */

* {
    margin: 0px ;
    padding:0px, 0px;
    }
body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


#section1{
    
    background-image: url("/images/Title.jpg");
    
}

  
  a.orghover{
    background-color: #D3602E;
  }
  h1 , h2 , h3 , h4 , h5{
      font-family: Raleway;
    }
  
  h1 {
      font-size: 7em;
      text-align: center;
      text-transform: uppercase;
      color: #D3602E;
    }
  
    /* NAVIGATION BAR / HEADER */
    .nav-bar {
    background-color: black;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    height: 40px;
    }
  
    .nav-bar-ul {
      width: 1200px;
      margin: 0 auto;
  
    }
  
    .nav-bar-li {
    list-style-type: none;
    text-align: center;
    float: left;
    width: 33%;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: 'Roboto Slab', serif;
  
    }
  
    .nav-bar-item a{
      color: #D3602E;
      font-size: 3em;
      text-decoration: none;
    }
  
  /* HEADER */
  
  .header h1{
    position: absolute;
    top: 30%;
    margin:0 ;
    text-align: center;
    width: 100%;
  }
  
  .bgsun {
      background-image:url("/images/Title.jpg");
      background-size: 100% 100%;
      height: 100vh;
      width: 100vw;
   }
  .quote {
      font-size: 2.5em;
      position: absolute;
      left: 13%;
      bottom: 30vh; /*was 25 */
      font-family:"Roboto Slab", serif;
    }
    
  /* Bootstrap Changes */
  .navbar{
      position: relative;
      min-height: 50px;
      margin-bottom: 0px;
      border: 1px solid transparent;
  }